<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Heba Mansour</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/Header">Home</a></li>
      <li><a routerLink="/Products">Products</a></li>
      <li><a routerLink="/Users">Users</a></li>
      <li><a routerLink="/Postes">Postes</a></li>
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </div>
</nav>
<!-- login
<div class="container">
  <h3>Welcome ITI</h3>
  <p>Heba Mansour Abdallah.</p>
  <input type="button" id="testId" value="click here" />
  <br />
  <img src="assets/programmer.jpg" alt="" class="img-fluid" /> -->
<!-- </div> -->
